/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;

    @media #{$brk-mid} {
      padding: 10px 30px;
    }
  }
  
  .default {
    background-color: $color5;
  }
  
  .error {
    background-color: $color4;
  }
  
  .info {
    background-color: $color3
  }
  
  .success {
    background-color: $color1;
  }
  
  .warning {
    background-color: $color2;
  }
  